.background-wrapper {
  background: #0a0a0a;
  position: relative;
  height: 102vh;
}
.white { 
  height: 100%;
}
.white:before { 
  z-index: 1000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh;
}
.white:after { 
  z-index: 1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
}

.squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden
}
.square {
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  transform: translateY(100%);
  background: #272727; 
} 
.square:nth-child(2) { 
  height: 1.5em;  
  width: 3em;   
  animation-delay: 1s;
  animation-duration: 17s; 
  -webkit-filter: blur(5px)
}
.square:nth-child(3) { 
  height: 2em;    
  width: 1em;   
  animation-delay: 1.5s;
  animation-duration: 8s; 
  -webkit-filter: blur()
}
.square:nth-child(4) { 
  height: 1em;    
  width: 1.5em; 
  animation-delay: 0.5s;
  -webkit-filter: blur(3px);
  animation-duration: 13s
}
.square:nth-child(5) { 
  height: 1.25em; 
  width: 2em;   
  animation-delay: 4s;
  -webkit-filter: blur(2px);
  animation-duration: 11s
}
.square:nth-child(6) { 
  height: 2.5em;  
  width: 2em;   
  animation-delay: 2s;
  -webkit-filter: blur(1px);
  animation-duration: 9s
}
.square:nth-child(7) { 
  height: 5em;    
  width: 2em;   
  -webkit-filter: blur(2.5px);
  animation-duration: 12s
}
.square:nth-child(8) { 
  height: 1em;    
  width: 3em;   
  animation-delay: 5s;
  -webkit-filter: blur(6px);
  animation-duration: 18s
}
.square:nth-child(9) {
  height: 1.5em; 
  width: 2em; 
  -webkit-filter: blur(0.5px);
  animation-duration: 9s
}
.square:nth-child(9) {
  height: 3em;
  width: 2.4em;
  animation-delay: 6s;
  -webkit-filter: blur(0.5px);
  animation-duration: 12s
}

@keyframes squares { 
  from { transform: translateY(100%) rotate(-50deg) }
  to   { transform: translateY(calc(-100vh + -100%)) rotate(20deg) }}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 132px;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.header .down-arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1000;
  width: 50px;
}

.header svg {
  width: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h2 {
  font-size: 57px;
  color: white;
}

.about h3 {
  font-size: 27px;
  color: white;
}

/*.picture img {
  border-radius: 50%;
  width: 70%;
  height: 110%;
  object-fit: cover;
}*/

.picture {
  border-radius: 50%;
  overflow: hidden;
  width: 310px;
  height: 317px;
}

.picture img {
  object-fit: cover;
  width: 310px;
  height: 334px;
}

@media (min-width: 0px) and (max-width: 400px) {
  .header {
    flex-direction: column-reverse;
    gap: 64px;
  }

  .header .down-arrow {
    display: none;
  }

  .about {
    text-align: center;
  }

  .about h2 {
    font-size: 45px;
  }
}